services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./python-server/src:/app/src

  node-server:
    build:
      context: ./node-server
      dockerfile: Dockerfile.dev
    ports:
      - 8001:8000
    volumes:
      - ./node-server/src:/app/src
      - ./node-server/package*.json:/app/
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=8000
